body {
  background-color: #1A181B;
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  color: #EEEBE4;
}

h2 {
  position: relative;
  color: #EEEBE4;
  text-align: center;
  font-size: 100%;
}

p {
  color: #EEEBE4;
}

.centerpranil {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 250px;
  transition: .5s ease;
}

.centerpranilsmall {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  transition: .5s ease;
}

.centernav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  transition: .5s ease;
}

.centerpranil:hover {
  opacity: .65;
  transform: scale(1.1);
}

.centerpranilsmall:hover {
  opacity: .65;
  transform: scale(1.1);
}

.centernav:hover {
  opacity: .65;
  transform: scale(1.1);
}
