body {
  background-color: #1A181B;
  margin: 0;
  padding: 0;
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  color: #EEEBE4;
}
h2 {
  position: relative;
  color: #EEEBE4;
  text-align: center;
  font-size: 100%;
}
p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #EEEBE4;
}
iframe{
  width: 720px;
  height: 405px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.header {

  padding-bottom: 50px;
  background-color: #1A181B;
}
.centerpranil {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  transition: .7s ease;
  opacity: .8;
}
.centerpranilsmall {
  display: block;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  transition: .7s ease;
  opacity: .1;

}
.centernav {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  transition: .7s ease;
  opacity: .1;
}
.centernavsmall {
  display: block;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  transition: .7s ease;
  opacity: .1;
}
.centerpranilsmall:hover {
  opacity: 1;
  transform: scale(1.1);
}
.centernav:hover {
  opacity: 1;
  transform: scale(1.1);
}
.centernavsmall:hover {
  opacity: 1;
  transform: scale(1.1);
}
.centerphoto {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
