* {
  box-sizing: border-box;
}
body {
  background-color: #1A181B;
  margin: 0;
  font-family: franklin-gothic-atf, sans-serif;
  font-weight: 600;
  font-style: normal;
}
h1 {
  color: #EEEBE4;
}
h2 {
  position: relative;
  color: #EEEBE4;
  text-align: center;
  font-size: 100%;
}
p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #EEEBE4;
}
iframe{
  width: 720px;
  height: 405px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
.header {

  padding-bottom: 50px;
  background-color: #1A181B;
}
.centerpranil {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  transition: .7s ease;
  opacity: .8;
}
.centerpranilsmall {
  display: block;
  width: 50%;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  transition: .7s ease;
  opacity: .1;
}
.centernav {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  transition: .7s ease;
  opacity: .1;
}
.centernavsmall {
  display: block;
  width: 50%;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  transition: .7s ease;
  opacity: .1;
}
.centerpranilsmall:hover {
  opacity: 1;
  transform: scale(1.1);
}
.centernav:hover {
  opacity: 1;
  transform: scale(1.11);
}
.centernavsmall:hover {
  opacity: 1;
  transform: scale(1.1);
}
.widephoto {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}
.verticalphoto {
  /*
  display: block;
  width: 50%; */
}
/*
.column {
  float: left;
  width: 46.5%;
  padding-left: 2.5%;
  padding-top: 2.5%;
  max-width: 500px;
  margin-left:auto;
  margin-right:auto;
}
.row {
  content: "";
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: table;
}
*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1280px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 512px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
